<body ng-controller="forgetpasswordController">
        <div class="header">
    <div class="left">
        <p>Home/Forget Password</p>
    </div>
    <div class="right">
    <form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
</form>
    </div>
</div>
<div class="content">
    <div class="content-left contentin-left">
        <h1>Already a Member</h1>
        <p>Enter your Email</p>
         
        <form class="form-input" method="post" id="form_signup" ng-submit="submit()">
         <input type="email" name="email" placeholder="Email" value="" ng-model="formData.email" ng-required>
         <p class="err" style="color:red">{{ err }}</p> 
         <input type="submit" name="submit" class="btn" value="submit">
        </form>   
    </div>
    <div class="content-right contentin-right">
        <div class="user">
            <img src="application/views/img/avatar.png">
            <div class="identity">
                <h3>Already a member? <a href="signin">Sign In</a></h3>
                <p>To submit tickets, browse through articles ans participate in the community</p>
            </div>
        </div>
    <hr>
    <div class="admin">
            <img src= "application/views/img/customer-service.png">
            <div class="identity">
                <h3>Are you an Agent? <a href="signin">Login here</a></h3>
                <p>You will be taken to the agent interface</p>
            </div>
        </div>
    </div>
  </div>
</body>
</html>