    <body ng-controller="homeController">
        
    <div class="home-header">
        <h1>Welcome to AlmaShines</h1>
        <p>search our knowledge base, ask the community or submit a ticket</p>
         <form class="example" action="action_page.php">
         <input type="text" placeholder="Search.." name="search">
         </form>
    </div>
    <div class="home-content">
        <div class="content-1">
        <img src="application/views/img/folded-paper.png">
        <a href="#knowledge Base">Knowledge Base</a>
        <p>Browse through our collection of articles, user guides and FAQs.</p>
        </div>
        <div class="content-2">
        <img src="application/views/img/chat.png">
        <a href="#community">Community</a>
        <p>Ask questions, share ideas or start a discussion with other customers.</p>
        </div> 
        <div class="content-3">
        <img src="application/views/img/cinema-tickets.png">
        <a href="ticket">Tickets</a>
        <p>View your previous tickets; know their statuses and solutions.</p>
        </div> 
    </div>
    <div class="ticket-service">
        <h1><img src="application/views/img/briefcase.png">Popular Article</h1>

        <h3><img src="application/views/img/page.png">How to Add New Admins</h3>
        <h3><img src="application/views/img/page.png">Adding Faculity member to Alumni Portal</h3>
        <h3><img src="application/views/img/page.png">How to use Import Data Feature</h3>
        <h3><img src="application/views/img/page.png">From platform what type of emails are se...</h3>
        <h3><img src="application/views/img/page.png">How to send birthday wish emails?</h3>
        <h3><img src="application/views/img/page.png">Why I am Facing Email Deliverability Issues?</h3>
        <h3><img src="application/views/img/page.png">What type of content should be created and shared on the alumni portal?</h3>
        <h3><img src="application/views/img/page.png">Several Categories in Campus Feeds</h3>
    </div>
    </body>