<body ng-controller="resetController">
    <div class="header">
    <div class="left">
        <p>Home/Reset Password</p>
    </div>
    <div class="right">
    <form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    </form>
    </div>
    </div>
    <div class="content">
    <div class="content-left">
        <h1>Reset Password</h1>
        <p>Create an account to submit tickets.
             read articles and engage in out community</p>
            <form class="form-input" method="post" id="form_signup" ng-submit="submit()">
         <input type="password" name="password" placeholder="Password"  ng-model="formData.password" required>
         <p class="err" style="color:red">{{ err.password }}</p> 
         <input type="password" name="confirmpassword" placeholder="Confirm Password" ng-model="formData.cpassword" required> 
         <p class="err" style="color:red">{{ err.cpassword }}</p> 
         <input type="submit" name="submit" class="btn" value="submit">
         <input type="reset"  name="reset" class="btn" value="Discard">
         </form>  
    </div>
         <div class="content-right">
        <div class="user">
        
            <img src="application/views/img/avatar.png">
            <div class="identity">
                <h3>Already a member? <a u-sref="signin">Sign In</a></h3>
                <p>To submit tickets, browse through articles ans participate in the community</p>
            </div>
        </div>
        <hr>
        <div class="admin">
            <img src="application/views/img/customer-service.png">
            <div class="identity">
                <h3>Are you an Agent? <a u-sref="admin">Login here</a></h3>
                <p>You will be taken to the agent interface</p>
            </div>
        </div>
    </div>