<body ng-controller="ticketController">
<div class="header">
    <div class="ticket-left">
        <p><a href="signin.php">My Area &nbsp;</a>/ Submit a Ticket</p>
    </div>
    <div class="right">
    <form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
</form>
    </div>
</div>
   <div class="ticket-content">
    <div class="ticket-content-left">
        <div>
        <h1>Submit a ticket </h1>
        <p><b>Ticket Information</b></p>
        </div>
        <form class="form-input" method="post" id="form_signup" ng-submit="submit()" enctype="multipart/form-data">
        <label for="subject">Subject <span>*</span>
        <input type="text" name="subject" ng-model="formData.subject">
        <label for="department">Department <span>*</span>
        <Select name="department" class="department" ng-model="formData.department">
            <option value="Onboarding">Onboarding</option>
            <option value="Sucess">Sucess</option>
            <option value="Support">Support</option>
            <option value="Accounts">Accounts</option>
        </Select>
        <label for="description">Description <span>*</span>
        <textarea id="description" name="description" rows="5" cols="50" ng-model="formData.description"></textarea>
        <label for="category">Priority </label>
        <Select name="category" class="category" ng-model="formData.category">
            <option value="">None</option>
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </Select>
        <div class="attachment">
        <label for="file">Attachment</label>
        <input type="file" onchange="angular.element(this).scope().fileSelected(this)" />
        <span><p class="err" style="color:red">{{ fileerr }}</p> </span>
        </div>
        <div class="ticket-btn">
         <input type="submit" name="submit" class="btn" value="submit">
         <input type="reset"  name="reset" class="btn" value="Discard">
        </div>
        </form>
    </div>
    <div class="ticket-content-right">
        <h1><img src="application/views/img/briefcase.png">Popular Article</h1>
        <hr>
        <h3>How to Add New Admins</h3>
        <h3>Adding Faculity member to Alumni Portal</h3>
        <h3>How to use Import Data Feature</h3>
        <h3>From platform what type of emails are se...</h3>
        <h3>How to send birthday wish emails?</h3>
    </div>
   </div>
</body>
</html>