<body ng-controller="userController">
<div class="user-header">
    <img src="application/views/img/user.png">
    <div class="user-detail">
        <h2>UserId</h2>
        <h2>UserName</h2>
    </div>
</div>
<div class="user-ticket">
    <table>
        <tr>
            <th>id</th>
            <th>UserId</th>
            <th>Subject</th>
            <th>Department</th>
            <th>Category</th>
            <th>Description</th>
            <th>File</th>
            <th>Status</th>
        </tr>
     <tr ng-repeat="ticket in tickets">
        <td> {{ticket['id']}} </td>
        <td> {{ticket['userid']}} </td>
        <td> {{ticket['subject']}} </td>
        <td> {{ticket['department']}} </td>
        <td> {{ticket['category']}} </td>
        <td> {{ticket['description']}} </td>
        <td> {{ticket['file']}} </td>
        <td> {{ticket['status']}} </td>
     </tr>
    </table>
     <p class="pagination" id="pagination"></p> 
</div>
</body>